body{
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } 

.span-required {
  font-size: 12px;
  display: none;
  color: var(--color-red);
}

#link:hover {
    color: #4169E1;
}